
@{
    ViewBag.Title = "Hello";
}

<h2>Hello</h2>

<fieldset>
    <legend>透過ViewData - ViewBag來達到簡單的資料傳</legend>
    <p>
        @ViewData["Hello"]
    </p>
    <p>
        @ViewBag.MVC
    </p>
</fieldset>

<fieldset>
    <legend>若key值不小心取名一樣，則會發生下列狀況</legend>
    <p>
        @ViewData["Error"]
    </p>
    <p>
        @ViewBag.Error
    </p>
</fieldset>